:root{
  --purple: #710193;
  --electric-blue: #51e5ff;
  --dark-purple: #330c2f;
  --slate-blue:#7067cf;
  --pale-cornflower-blue: #b7c0ee;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body {
  color: var(--dark-purple);
  background-image: url(./rx.min.svg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background: var(--dark-purple);
  color: var(--electric-blue);
  box-shadow: 0 1px 3px var(--electric-blue);
  padding: 5px 0;
}
.wrap{
  background: hsla(230, 63%, 83%, 0.3);
  box-shadow: 0 2px 3px var(--purple);
  border-radius: 5px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 1.3rem;
}
section div{
  padding-bottom: 20px;
}
button {
  background: none;
  border: 5px solid var(--electric-blue);
  color: var(--purple);
  border-radius: 5px;
  /* margin: 50px 0 25px; */
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.date-due{
  font-size: 1.5rem;
  padding-top: 10px;
}