:root{
  --cerulean: #4484ce;
  --aluminium: hsla(0, 0%, 85%, 0.3);
  --yellow: #f9cf00;
  --tangerine: #f19f4d;
  --porcelain: #fffffc;
  --ebony: #080401;
  --radius: 5px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body {
  color: var(--ebony);
  background-image: url(./rx.min.svg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
  background: var(--cerulean);
  color: var(--porcelain);
  box-shadow: 0 .5px 1px var(--ebony);
  padding: 5px 0;
}
.wrap{
  background: var(--aluminium);
  box-shadow: 0 2px 3px var(--cerulean);
  border-radius: var(--radius);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 1.3rem;
}
section div{
  padding-bottom: 20px;
}
input{
  width: 200px;
}
button {
  background: var(--tangerine);
  border: 5px solid var(--yellow);
  color: var(--porcelain);
  border-radius: var(--radius);
  width: 200px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
input:focus, button:focus{
  outline: none;
}
.date-due{
  font-size: 1.5rem;
  margin-top: 25px;
  line-height: 2rem;
}
.date-due span{
  color: var(--porcelain);
  background-color: var(--cerulean);
  padding: 5px;
  border-radius: var(--radius);
}